<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
        <title>Inscription</title>
    </head>
  
    <body>
       <br>
       <h1 style="text-align:center">Inscription </h1>
       <br>
       <br>
       <br>
       <br>
      
    <form id ="inscriptionForm">
      
      <div class = "container">
        <div class = "row">
          <div class = "col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">

      <div class = form-group>
          <label for = "identifiant">Identifiant :</label>
          <input class = form-control type = "text" id="identifiant" name="identifiant" required>
      </div>
      
      <div class = form-group>
          <label for = "motDePasse">Mot de passe :</label>
          <input class = form-control type = "password" id = "motDePasse" name = "motDePasse" required>
      </div>
      
      <div class = form-group>
          <label for = "motDePasseVerif">Saisissez de nouveau le mot de passe :</label>
          <input class = form-control type = "password" id = "motDePasseVerif" name = "motDePasseVerif" required>
      </div>
        
      <div class = form-group>
          <label for = "email">email :</label>
          <input class = form-control type = "text" id = "email" name = "email" required>
        
        <div id="msgStatus" class="hidden" style="text-align:center"></div>
      </div>
        
          <button type="button" id="inscriptionButton" class="btn btn-secondary btn btn-block">S'inscrire</button> <!--la class du button permet de le caler sur la largeur des parents, ici les input mdp et identifiant -->
     
<!--       <div id="msgSubmit" class = "hidden" style="text-align:center">Inscription validée!</div> -->
          </div>
        </div>
      </div>
      
      </form>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script>
        
        $("#inscriptionButton").click(function() { //fonction qui test si l'email est deja utilisé, si c'est le cas -> success = compte créer / error = email deja utilisé.
          
          var identifiant = $("#identifiant").val();
          var motDePasse = $("#motDePasse").val();                         
          var motDePasseVerif = $("#motDePasseVerif").val();  
          var email = $("#email").val();
          var data=JSON.stringify({
                    identifiant: identifiant,
                    motDePasse: motDePasse,
                    motDePasseVerif : motDePasseVerif,
                    email : email,
                  });
                    
        $.ajax ({
                    url : "{{ path }}?c=user&t=inscriptionValid", // url du controleur (avec fonction) qui va executer le code
                    type : "POST", // methode post ou get 
                    dataType: "json",
                    contentType: 'application/json',
                    data : data,
                    success : function(success) {
                              console.log(success)
                              const newStatus = JSON.parse(success.responseText); // const = var / const = let / parse equivalent a un decode
                              $("#msgStatus").html(newStatus.message); // methode html remplace le contenu de l'element selectionné par l'id
                              $("#msgStatus").css( 'display', "block" ); // affiche la div #infosFalse
                              console.log(newStatus.status);
                             }, // fonction executer en cas de succés
          
                    error : function(error) {
                              console.log(error)
                              const newStatus = JSON.parse(error.responseText); // const = var / const = let / parse equivalent a un decode
                              $("#msgStatus").html(newStatus.message); // methode html remplace le contenu de l'element selectionné par l'id
                              $("#msgStatus").css( 'display', "block" ); // affiche la div #infosFalse
//                               $( "#from" ).toggleClass( 'was-validated' ); // ajoute ou supprime la class indiquée
                              console.log(newStatus.status);
                             }, // fonction executer en cas d'erreur
                 });
        })
       </script>

        
            
              
              
              
              
              
              
              
              
              
              
              
              
              
              
              
     
    </body>
</html>