<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> index </title>
  <link href='inscription.css' type='text/css' rel='stylesheet' />
</head>

<body>

  <div class='container'>
    <br>
    <div class="row">
      <div class="col-sm">
        <h1 style="text-align:center">Portefeuille de competences</h1>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div class="row">
      <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <a href="{{ path }}?c=user&t=connexion" class="btn btn-secondary stretched-link btn-block">CONNEXION</a>
        <a href="{{ path }}?c=user&t=inscription" class="btn btn-secondary stretched-link btn-block">INSCRIPTION</a>
      </div>
    </div>
  </div>
  </div>

</body>

</html>